*.py[cod]
__pycache__
*.egg-info
venv
.coverage
htmlcov
*,cover

build 
dist
MANIFEST

docs/_build

version.py

.project
.pydevproject

# Installer files
installer/pip_cache
installer/opk_cache
installer/.installer_config

#PyCharm Project files
*.iml
.idea/*
.pycharmproject

#Java parser output
lextab.py
parser.out
parsetab.py
