*.py[cod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build 
dist
MANIFEST

/wpilib/pkgcfg.py
/wpilib/version.py
/wpilib/_init_wpilib.py
/wpilib/controller/_init_controller.py
/wpilib/controller/pkgcfg.py
/wpilib/drive/_init_drive.py
/wpilib/drive/pkgcfg.py
/wpilib/geometry/_init_geometry.py
/wpilib/geometry/pkgcfg.py
/wpilib/interfaces/_init_interfaces.py
/wpilib/interfaces/pkgcfg.py
/wpilib/kinematics/_init_kinematics.py
/wpilib/kinematics/pkgcfg.py
/wpilib/spline/_init_spline.py
/wpilib/spline/pkgcfg.py
/wpilib/trajectory/_init_trajectory.py
/wpilib/trajectory/pkgcfg.py
/wpilib/trajectory/constraint/_init_constraint.py
/wpilib/trajectory/constraint/pkgcfg.py

rpy-include
/wpilib/_impl/_init_wpilibc.py
/wpilib/_impl/pkgcfg.py
/wpilib/_impl/include
/wpilib/_impl/lib



version.py

# Eclipse project files
.project
.pydevproject
.settings

# Installer files
/installer/pip_cache
/installer/opkg_cache
/installer/.installer_config

/installer/win32/*.exe

#PyCharm Project files
*.iml
.idea/*
.pycharmproject


# deploy files
.deploy_cfg
.DS_Store
